*
{
	margin: 0;
	padding: 0;
}
body{
	background: #777;
	font-family: arial;

}
{
	background-image:url(son.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto" sans-serif;
	font-size: 15px;
}
h1, h2{
	color: #333;
}
nav ul{
	margin: 0;
}
nav ul li {
	display: inline-table;
	list-style-type: none;
}
header
}
.menu li{
	display: inline-block;
	margin: 10px 5px;
}
.menu li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 10px
	font-family: sans-serif;
	letter-spacing: 2px;
	border: 1px solid #fff;
}
.menu li a:hover{
	background: #fff
	transition: .4s;
	color: #000;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-seriff;
	font-size: 15px;

}
.main-nav li.active a 
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white;
}
.logo img
{

width: 150px;
height: auto;
float: left;
.row{
	color: #e8491d;
}